

<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="description" content="E-logstation"/>
    <title>E-Logstation</title>


</head>
<body id="Website" onload="" style="">

<!-- Bing Remarketing Tracker Begin -->


            <div id="trigger" style="clear: both"></div>


<div class="wrapper" style="">
        <div class="topPush"></div>
        <!-- content -->
        <div id="Content" class="FixFloat" style="">

    <div style="margin: 0 auto;">

    <form name="form" id="form" class="warnAgainstUnsumbittedChanges" method="POST">
    <h1 class="servicesHeader" style="color: #1c1d1e; margin-top: 25px; margin-bottom: 20px;">Create Your E-logstation Account</h1>

        <p style="margin-top: 15px; font-size: 16px;">
        Ensure your company's profitability with E-logstation. Advanced analytics and compliance for transportation companies.
        </p>

    <table class="Details">
    <tr>
        <td class="Header" colspan="2">Create Your E-Logstation Account</td>
    </tr>
    <tr> <td colspan="2" class="SubHeaderDetails">Enter your company's information...</td> </tr>
    <tr>
        <td class="FieldName" >Company Name:</td>
        <td class="FieldValue" style="width: 700px;">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>             <input id="companyNameInputElement" type="text" name="company.name" value="" size="30" maxlength="100" />
        </td>
    </tr>
<tr>
    <td class="FieldName">Promotion Code:</td>
    <td class="FieldValue">
        &nbsp;&nbsp<input type="text" name="company.promotionCode" value="" size="30" maxlength="100"  /> 
    </td>
</tr>
<tr> <td colspan="2" class="SubHeaderDetails">Enter your company's head office or main terminal...</td> </tr>

<tr>
    <td class="FieldName" style="width:  200px;" >Address:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="company.terminals.headOffice.address.addressLine1" id="headOfficeAddressLine1" value=""  size="30" maxlength="100" />
    </td>
</tr>

<tr>
    <td class="FieldName">City:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="company.terminals.headOffice.address.cityName" id="headOfficeAddressCity" value=""  size="30" maxlength="100" />
    </td>
</tr>


<tr>
    <td class="FieldName">Province/State:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <select class="SelectControl" name="stateProvinceId" id="stateProvinceId" size="1" style="width:200px;" >
                <option value="2"
                        >Alabama </option>
                <option value="1"
                        >Alaska </option>
                <option value="87"
                        >Alberta </option>
                <option value="4"
                        >Arizona </option>
                <option value="3"
                        >Arkansas </option>
                <option value="88"
                        >British Columbia </option>
                <option value="5"
                        >California </option>
                <option value="6"
                        >Colorado </option>
                <option value="7"
                        >Connecticut </option>
                <option value="9"
                        >Delaware </option>
                <option value="8"
                        >District of Columbia </option>
                <option value="10"
                        >Florida </option>
                <option value="11"
                        >Georgia </option>
                <option value="12"
                        >Guam </option>
                <option value="13"
                        >Hawaii </option>
                <option value="15"
                        >Idaho </option>
                <option value="16"
                        >Illinois </option>
                <option value="17"
                        >Indiana </option>
                <option value="14"
                        >Iowa </option>
                <option value="18"
                        >Kansas </option>
                <option value="19"
                        >Kentucky </option>
                <option value="20"
                        >Louisiana </option>
                <option value="23"
                        >Maine </option>
                <option value="89"
                        >Manitoba </option>
                <option value="22"
                        >Maryland </option>
                <option value="21"
                        >Massachusetts </option>
                <option value="24"
                        >Michigan </option>
                <option value="25"
                        >Minnesota </option>
                <option value="27"
                        >Mississippi </option>
                <option value="26"
                        >Missouri </option>
                <option value="28"
                        >Montana </option>
                <option value="31"
                        >Nebraska </option>
                <option value="35"
                        >Nevada </option>
                <option value="90"
                        >New Brunswick </option>
                <option value="91"
                        >New Foundland and Labrador </option>
                <option value="32"
                        >New Hampshire </option>
                <option value="33"
                        >New Jersey </option>
                <option value="34"
                        >New Mexico </option>
                <option value="36"
                        >New York </option>
                <option value="1639"
                        >No Plate </option>
                <option value="29"
                        >North Carolina </option>
                <option value="30"
                        >North Dakota </option>
                <option value="93"
                        >Northwest Territories </option>
                <option value="92"
                        >Nova Scotia </option>
                <option value="94"
                        >Nunavut </option>
                <option value="37"
                        >Ohio </option>
                <option value="38"
                        >Oklahoma </option>
                <option value="95"
                        selected="selected"
                        >Ontario </option>
                <option value="39"
                        >Oregon </option>
                <option value="40"
                        >Pennsylvania </option>
                <option value="96"
                        >Prince Edward Island </option>
                <option value="41"
                        >Puerto Rico </option>
                <option value="97"
                        >Quebec </option>
                <option value="42"
                        >Rhode Island </option>
                <option value="98"
                        >Saskatchewan </option>
                <option value="43"
                        >South Carolina </option>
                <option value="44"
                        >South Dakota </option>
                <option value="45"
                        >Tennessee </option>
                <option value="46"
                        >Texas </option>
                <option value="47"
                        >Utah </option>
                <option value="50"
                        >Vermont </option>
                <option value="48"
                        >Virginia </option>
                <option value="49"
                        >Virgin Islands </option>
                <option value="51"
                        >Washington </option>
                <option value="53"
                        >West Virginia </option>
                <option value="52"
                        >Wisconsin </option>
                <option value="54"
                        >Wyoming </option>
                <option value="99"
                        >Yukon Territory </option>
        </select>
    </td>
</tr>

<tr>
    <td class="FieldName">Postal/Zip Code:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input style="text-transform:uppercase;" type="text" name="company.terminals.headOffice.address.postalCode" id="headOfficeAddressPostalCode" value=""  size="30" maxlength="8" />
    </td>
</tr>

<tr>
    <td class="FieldName"></td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: transparent; ">&nbsp;</span>         <input type="checkbox" id="billingSameAsMain" name="billingSameAsMain" checked="checked" value="true" /> <span>Use this address for billing</span>
    </td>
</tr>

<tr>
    <td class="FieldName">Phone Number:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="company.terminals.headOffice.phoneNumber" id="headOfficePhoneNumber" value=""  size="30" maxlength="15" />
        (format 555-555-5555)
    </td>
</tr>

<tr>
    <td class="FieldName">Fax Number:</td>
    <td class="FieldValue">
        &nbsp;&nbsp<input type="text" name="company.terminals.headOffice.faxNumber" value=""  size="30" maxlength="20"  />
        (format 555-555-5555)
    </td>
</tr>

<tr>
    <td class="FieldName">Time Zone:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <select class="SelectControl" name="timeZoneId" size="1" style="width:180px;">
                <option value="-09:00"


                        >Alaska (US)</option>
                <option value="-08:00"


                        >Pacific Time</option>
                <option value="-07:00"


                        >Mountain Time</option>
                <option value="-06:00"


                        >Central Time</option>
                <option value="-05:00"

                        selected="selected"

                        >Eastern Time</option>
                <option value="-04:00"


                        >Atlantic Time (Canada)</option>
                <option value="-03:30"


                        >Newfoundland (Canada)</option>
        </select>
    </td>
</tr>

<tr>
    <td class="FieldName">Billing Email:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: transparent; ">&nbsp;</span>         <input type="email" id="billingEmailInput" name="billingContactEmail" value=""  size="30" maxlength="100" /><br/>
        <label for="sendPhysicalInvoiceCopy">I would also like to receive my invoice by physical mail</label><input type="checkbox" id="sendPhysicalInvoiceCopy" name="sendPhysicalInvoiceCopy" value="yes" />
    </td>
</tr>

<tr class="billingDetails">
    <td class="FieldName">Billing Address:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="company.billingDetails.billingAddress.addressLine1" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr class="billingDetails">
    <td class="FieldName">Billing City:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="company.billingDetails.billingAddress.cityName" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr class="billingDetails">
    <td class="FieldName">Billing Province/State:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <select class="SelectControl" name="billingStateProvinceId" size="1" style="width:200px;">
                <option value="2"
                        >Alabama </option>
                <option value="1"
                        >Alaska </option>
                <option value="87"
                        >Alberta </option>
                <option value="4"
                        >Arizona </option>
                <option value="3"
                        >Arkansas </option>
                <option value="88"
                        >British Columbia </option>
                <option value="5"
                        >California </option>
                <option value="6"
                        >Colorado </option>
                <option value="7"
                        >Connecticut </option>
                <option value="9"
                        >Delaware </option>
                <option value="8"
                        >District of Columbia </option>
                <option value="10"
                        >Florida </option>
                <option value="11"
                        >Georgia </option>
                <option value="12"
                        >Guam </option>
                <option value="13"
                        >Hawaii </option>
                <option value="15"
                        >Idaho </option>
                <option value="16"
                        >Illinois </option>
                <option value="17"
                        >Indiana </option>
                <option value="14"
                        >Iowa </option>
                <option value="18"
                        >Kansas </option>
                <option value="19"
                        >Kentucky </option>
                <option value="20"
                        >Louisiana </option>
                <option value="23"
                        >Maine </option>
                <option value="89"
                        >Manitoba </option>
                <option value="22"
                        >Maryland </option>
                <option value="21"
                        >Massachusetts </option>
                <option value="24"
                        >Michigan </option>
                <option value="25"
                        >Minnesota </option>
                <option value="27"
                        >Mississippi </option>
                <option value="26"
                        >Missouri </option>
                <option value="28"
                        >Montana </option>
                <option value="31"
                        >Nebraska </option>
                <option value="35"
                        >Nevada </option>
                <option value="90"
                        >New Brunswick </option>
                <option value="91"
                        >New Foundland and Labrador </option>
                <option value="32"
                        >New Hampshire </option>
                <option value="33"
                        >New Jersey </option>
                <option value="34"
                        >New Mexico </option>
                <option value="36"
                        >New York </option>
                <option value="1639"
                        >No Plate </option>
                <option value="29"
                        >North Carolina </option>
                <option value="30"
                        >North Dakota </option>
                <option value="93"
                        >Northwest Territories </option>
                <option value="92"
                        >Nova Scotia </option>
                <option value="94"
                        >Nunavut </option>
                <option value="37"
                        >Ohio </option>
                <option value="38"
                        >Oklahoma </option>
                <option value="95"
                        selected="selected"
                        >Ontario </option>
                <option value="39"
                        >Oregon </option>
                <option value="40"
                        >Pennsylvania </option>
                <option value="96"
                        >Prince Edward Island </option>
                <option value="41"
                        >Puerto Rico </option>
                <option value="97"
                        >Quebec </option>
                <option value="42"
                        >Rhode Island </option>
                <option value="98"
                        >Saskatchewan </option>
                <option value="43"
                        >South Carolina </option>
                <option value="44"
                        >South Dakota </option>
                <option value="45"
                        >Tennessee </option>
                <option value="46"
                        >Texas </option>
                <option value="47"
                        >Utah </option>
                <option value="50"
                        >Vermont </option>
                <option value="48"
                        >Virginia </option>
                <option value="49"
                        >Virgin Islands </option>
                <option value="51"
                        >Washington </option>
                <option value="53"
                        >West Virginia </option>
                <option value="52"
                        >Wisconsin </option>
                <option value="54"
                        >Wyoming </option>
                <option value="99"
                        >Yukon Territory </option>
        </select>
    </td>
</tr>

<tr class="billingDetails">
    <td class="FieldName">Billing Postal/Zip Code:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input style="text-transform:uppercase;" type="text" name="company.billingDetails.billingAddress.postalCode" id="billingPostalCode" value=""  size="30" maxlength="20" />
    </td>
</tr>


<tr>
    <td colspan="2" class="SubHeaderDetails">Provide your contact information...</td></tr>
<tr>
    <td class="FieldName">First Name:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="person.firstName" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr>
    <td class="FieldName">Last Name:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="person.lastName" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr>
    <td class="FieldName">Title:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="person.title" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr>
    <td class="FieldName">Email Address:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="email" id="personEmailAddressInput" name="person.emailAddress" value=""  size="30" maxlength="100"  />
    </td>
</tr>

<tr>
    <td class="FieldName">Phone Number:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="person.phoneNumber" value=""  size="30" maxlength="20"  />
        (format 555-555-5555)
    </td>
</tr>

<tr>
    <td class="FieldName">Phone Extension:</td>
    <td class="FieldValue">
        &nbsp;&nbsp<input type="text" name="person.phoneExtension" value=""  size="30" maxlength="20"  />
    </td>
</tr>

<tr><td colspan="2" class="SubHeaderDetails">Create your user account... </td></tr>
<tr>
    <td class="FieldName">Username:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="text" name="person.username" value="" size="30" maxlength="50"  /> (no spaces please)
    </td>
</tr>

<tr>
    <td class="FieldName">Password:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input
                type="password"
                name="person.password"
                id="password"
                value=""
                size="30"
                maxlength="50"  />
        <span id="passwordQuality" class="PasswordQualityRed"></span>
        <div id="passwordQualitySuggestions"></div>
    </td>
</tr>

<tr>
    <td class="FieldName">Re-Type Password:</td>
    <td class="FieldValue">
<span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>         <input type="password" name="retypePassword" value=""  size="30" maxlength="50"  />
    </td>
</tr>
<tr>
    <td colspan="2" class="SubFooter">
        <span class="HighlightSpan" style="width: 3px; vertical-align: middle; height: 15px; background-color: #003042; ">&nbsp;</span>  Required
         <span style="margin-left: 360px;">

         </span>
    </td>
</tr>

</table>

</form>
</div>


	</body>
</html>
