<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Leaflet OSRM Example</title>
    <link href="C:/PythonScripts/webapp/static/dist/leaflet-routing-machine.css" rel="stylesheet" type="text/css">
    <link href="C:/PythonScripts/webapp/static/dist/index.css" rel="stylesheet" type="text/css">    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
</head>
<body>
<div>
<p>Hello World</p>
</div>
    <div id="map" ></div>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="C:/PythonScripts/webapp/static/dist/leaflet-routing-machine.js"></script>
    <script src="C:/PythonScripts/webapp/static/js/Control.Geocoder.js"></script>
    <script src="C:/PythonScripts/webapp/static/js/config.js"></script>
    <script src="C:/PythonScripts/webapp/static/js/index.js"></script>
</div>
</body>
</html>