{% extends base.html %}

{% block content %}
  <div class="top-pad">
    <form
        method="POST"
        action="/create-driver"
        role="form">
      {{ form.csrf_token }}
      <div class="form-group">{{ form.firstname.label }}: {{ form.firstname() }}</div>
      <div class="form-group">{{ form.lastname.label }}: {{ form.lastname() }}</div>
      <div class="form-group">{{ form.driverslicense.label }}: {{ form.driverslicense() }}</div>
      <div class="form-group">{{ form.driverslicensestate.label }}: {{ form.driverslicensestate() }}</div>
      <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
{% endblock %}

{% endblock %}